In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict
from scipy import sparse

In [7]:
items = pd.read_csv('data/item_to_id.csv')

In [8]:
purch = pd.read_csv('data/purchase_history.csv')

In [14]:
items.shape, items.head()

((48, 2),          Item_name  Item_id
 0           coffee       43
 1              tea       23
 2            juice       38
 3             soda        9
 4  sandwich loaves       39)

In [15]:
purch.shape, purch.head()

((39474, 2),    user_id                                                 id
 0   222087                                              27,26
 1  1343649                                            6,47,17
 2   404134                       18,12,23,22,27,43,38,20,35,1
 3  1110200                                 9,23,2,20,26,47,37
 4   224107  31,18,5,13,1,21,48,16,26,2,44,32,20,37,42,35,4...)

In [22]:
len(purch.user_id.unique())

24885

In [18]:
purch.user_id.value_counts()

696000     7
31625      7
653800     7
884172     7
315516     6
453019     6
38872      6
779061     6
1374100    6
813270     6
64998      6
1271578    6
1499087    6
917199     6
946453     6
373484     6
1270373    6
367872     6
599172     6
238495     6
617988     6
719358     6
117178     6
920002     6
269335     6
723012     6
1485538    6
828721     6
820788     5
1494796    5
          ..
33986      1
187593     1
785613     1
295767     1
1254614    1
641290     1
43310      1
744665     1
627936     1
961767     1
512403     1
1195253    1
1328314    1
875705     1
939192     1
486355     1
736730     1
1240239    1
1092775    1
365728     1
1076383    1
243198     1
1193108    1
894126     1
1485489    1
916621     1
652428     1
840840     1
1401982    1
1023836    1
Name: user_id, Length: 24885, dtype: int64

In [61]:
purch['item_count']=purch['id'].count()

In [86]:
iz=purch[:1]['id'].values

In [104]:
item_counts=[]
customer_items=defaultdict()
for idx in purch['id']:
    item_counts.append(len(idx))

In [108]:
purch['item_counts']=item_counts

In [113]:
purch[purch['item_counts']==purch['item_counts'].max()]

,user_id,id,item_count,item_counts
3332,388149,"18,38,36,7,1,10,45,26,39,5,44,40,32,25,9,21,28...",39474,75

In [125]:
purch.groupby('user_id')['item_counts'].sum().reset_index().sort_values('item_counts', ascending=False).head(1)

      user_id  item_counts
4445   269335          194

In [126]:
purch[purch['user_id']==269335]

       user_id                                     id  item_count  item_counts
12030   269335             2,1,42,11,9,39,37,19,38,23       39474           26
21971   269335  46,14,2,24,4,18,9,6,10,41,28,42,44,23       39474           37
25662   269335    13,47,21,2,9,23,36,48,17,42,10,37,6       39474           35
31105   269335     37,13,6,2,18,3,42,9,38,35,24,36,39       39474           34
34939   269335   44,3,11,22,2,10,36,25,30,40,28,20,41       39474           36
38512   269335             17,12,21,37,34,36,43,26,28       39474           26

In [177]:
matrix_dict=defaultdict(int)

In [178]:
for i in range(purch.shape[0]):
    #print('i',purch.user_id[i])
    for item in purch['id'][i].split(','):
        matrix_dict[purch.user_id[i],int(item)]+=1

In [179]:
len(matrix_dict)

290558

In [180]:
rows, cols, vals = [], [], []
for key, value in matrix_dict.items():
    #print(key[0])
    rows.append(key[0])
    cols.append(key[1])
    vals.append(matrix_dict[key])
sparse_matrix = sparse.csr_matrix((vals, (rows, cols)))

In [210]:
y = sparse_matrix.tocoo()

In [209]:
del coo

In [211]:
k = y.data.argmax()
maxval = y.data[k]
maxrow = y.row[k]
maxcol = y.col[k]

In [212]:
maxval

5

In [213]:
maxrow

31625

In [214]:
maxcol

2

In [215]:
k

5848

In [217]:
sparse_matrix.max(axis=0)

<1x49 sparse matrix of type '<class 'numpy.int64'>'
	with 48 stored elements in COOrdinate format>