In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
items = pd.read_csv('data/item_to_id.csv', nrows=20)

In [4]:
purch = pd.read_csv('data/purchase_history.csv', nrows=20)

In [5]:
items

            Item_name  Item_id
0              coffee       43
1                 tea       23
2               juice       38
3                soda        9
4     sandwich loaves       39
5        dinner rolls       37
6           tortillas       34
7              bagels       13
8   canned vegetables       28
9     spaghetti sauce       26
10            ketchup       41
11            cheeses       21
12               eggs       14
13               milk       16
14             yogurt       48
15             butter        8
16            cereals       11
17              flour       30
18              sugar        1
19              pasta       31

In [6]:
purch

    user_id                                                 id
0    222087                                              27,26
1   1343649                                            6,47,17
2    404134                       18,12,23,22,27,43,38,20,35,1
3   1110200                                 9,23,2,20,26,47,37
4    224107  31,18,5,13,1,21,48,16,26,2,44,32,20,37,42,35,4...
5    409803                                   43,29,8,37,23,45
6   1296632                          18,15,31,11,20,32,25,6,47
7    748280                     14,43,6,20,7,42,41,28,10,22,46
8     31625                             1,43,31,37,25,32,28,35
9    987613                            27,1,3,2,11,45,10,44,15
10   560265                            10,31,25,19,2,7,15,9,23
11    60201                   26,28,13,39,27,22,48,18,16,17,32
12  1413771                           10,30,17,45,35,2,11,3,43
13   925776                                     43,38,35,28,16
14   455303                               38,15,48,43,44,10,32
15   713697                                            2,42,18
16   226213                            48,32,16,21,13,37,34,39
17   392460                                            37,38,9
18   445179                        44,37,33,39,9,43,13,8,21,48
19   176016                      39,21,16,2,13,37,48,10,6,28,5